<form>
  <div class="form-group">
    <label>name address</label>
    <input type="email" class="form-control" [(ngModel)]="name" name="name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label>email</label>
    <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Enter email">
  </div>
  <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
  <button type="button" class="btn btn-primary" (click)="updateUser()">update</button>
</form>

<!-- <ul *ngFor="let user of users">
  <li>{{user._id}}</li>
  <li>{{user.name}}</li>
</ul> -->

<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>email</td>
      <td>button</td>
      <td>edit</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td (click)="findById(user._id)">{{user._id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td><button (click)="deleteUser(user._id)">delete</button></td>
      <td><button (click)="edit(user._id)">edit</button></td>
    </tr>
  </tbody>
</table>
<!-- <p>{{users}}</p> -->

<button (click)="getValue()">get</button>
<button (click)="setValue()">set</button>
<router-outlet></router-outlet>
